{% load static %}
<!doctype html>
<html  style="overflow-x: hidden; overflow-y: auto;">

<head>
    <meta charset="utf-8">
    <title>全部场地</title>

    <link rel="stylesheet" href="{% static 'style/my.css' %}">

    <link rel="stylesheet" href="{% static 'style/others.css' %}">
    <link rel="stylesheet" href="{% static 'style/mdui.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/bulma.min.css' %}">

    <script defer src="{% static 'javascript/all.js' %}"></script>
    <script src="{% static 'javascript/vue.js' %}"></script>
    <script src="{% static 'javascript/index.js' %}"></script>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/mdui.min.js' %}"></script>
</head>
<body>
<el-container id="table">
    <el-header style="text-align: right; font-size: 12px">
        <el-row>
            <el-col :span="8">
                <el-input placeholder="输入场地名搜索" v-model="search" size="mini" clearable></el-input>
            </el-col>
        </el-row>
    </el-header>
    <el-table :data="tableData.filter(data => !search || data.clientname.toLowerCase().includes(search.toLowerCase()))"
              style="width: 100%">
        <el-table-column type="expand">
            <div slot-scope="c">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="场地名称">
                        <span>[[ c.row.clientname ]]</span>
                    </el-form-item>

                    <el-form-item label="场地描述">
                        <span>[[ c.row.addition ]]</span>
                    </el-form-item>
                </el-form>
            </div>
        </el-table-column>
        <el-table-column prop="clientnum" label="场地编号" sortable align="center"></el-table-column>
        <el-table-column prop="clientname" label="场地名称" align="center"></el-table-column>
        <el-table-column prop="tel" label="场地类型" align="center"></el-table-column>
        <el-table-column prop="username" label="场地负责人" sortable align="center"></el-table-column>
    </el-table>
</el-container>
</body>
<script>
    var vue = new Vue({
        delimiters: ['[[', ']]'],
        el: '#table',
        created: function () {
            // 页面刚被渲染时向后端发送ajax请求数据  解析json后放入vue的变量tableData里
            $.ajax({
                url: "/allField",
                type: "POST",
                data: {"type": "init"},
                success: function (data1) {
                    let clients = data1.clients;
                    for (var i = 0; i < clients.length; i++) {
                        let client = clients[i];
                        vue.tableData.push(
                            {
                                clientnum: client.clientnum,
                                clientname: client.clientname,
                                tel: client.tel,
                                fax: client.fax,
                                address: client.address,
                                code: client.code,
                                bank: client.bank,
                                account: client.account,
                                addition: client.addition,
                                username: client.username,
                            }
                        );
                    }
                }
            });
        },
        data() {
            return {
                formLabelWidth: '100px',
                tableData: [],
                search: '',
            }
        },
        methods: {}
    })
</script>
</html>