    {% load static %}
<!DOCTYPE html>
<html style="overflow-x: hidden; overflow-y: auto;">
<head>
    <meta charset="UTF-8">
    <title>社团活动管理系统</title>
    <link rel="stylesheet" href={% static 'style/style.css' %}>

    <link rel="stylesheet" href="{% static 'style/others.css' %}">
    <link rel="stylesheet" href="{% static 'style/mdui.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/bulma.min.css' %}">

    <script defer src="{% static 'javascript/all.js' %}"></script>
    <script src="{% static 'javascript/vue.js' %}"></script>
    <script src="{% static 'javascript/index.js' %}"></script>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/mdui.min.js' %}"></script>
    <script src="{% static 'javascript/landing.js' %}"></script>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="columns">
    <div class="column is-10">
        <a class="button is-primary is-inverted is-outlined is-large is-link" onclick="login()">LOG IN</a>
    </div>
    <div class="column is-1" style="margin-left: 50px;">
        <a class="button is-primary is-inverted is-outlined is-large is-link" onclick="register()" >REGISTER</a>
    </div>
</div>
</body>
</html>