{% load static %}
<!doctype html>
<html style="overflow-x: hidden; overflow-y: auto;">

<head>
    <meta charset="utf-8">
    <title>全部申请</title>
    <link rel="stylesheet" href="{% static 'style/my.css' %}">

    <link rel="stylesheet" href="{% static 'style/others.css' %}">
    <link rel="stylesheet" href="{% static 'style/mdui.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/bulma.min.css' %}">

    <script defer src="{% static 'javascript/all.js' %}"></script>
    <script src="{% static 'javascript/vue.js' %}"></script>
    <script src="{% static 'javascript/index.js' %}"></script>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/mdui.min.js' %}"></script>
</head>
<body>
<el-container id="table">
    <el-dialog title="申请分配信息" :visible.sync="showContractInfo">
        <el-collapse v-model="activeName" accordion>
            <el-collapse-item title="会签" name="1">
                <el-table :data="contractInfo.countersign">
                    <el-table-column prop="countersignPerson" label="会签人" width="150"></el-table-column>
                    <el-table-column prop="opinion" label="会签意见"></el-table-column>
                    <el-table-column prop="ctime" label="会签时间" width="150"></el-table-column>
                </el-table>
            </el-collapse-item>
            <el-collapse-item title="审批" name="2">
                <el-table :data="contractInfo.approval">
                    <el-table-column prop="approvalPerson" label="审批人" width="150"></el-table-column>
                    <el-table-column prop="opinion" label="审批意见"></el-table-column>
                    <el-table-column prop="astate" label="审批结果"></el-table-column>
                    <el-table-column prop="atime" label="审批时间" width="150"></el-table-column>
                </el-table>
            </el-collapse-item>
            <el-collapse-item title="签订" name="3">
                <el-table :data="contractInfo.sign">
                    <el-table-column prop="signPerson" label="签订人" width="150"></el-table-column>
                    <el-table-column prop="sinformation" label="签订信息"></el-table-column>
                    <el-table-column prop="stime" label="签订时间" width="150"></el-table-column>
                </el-table>
            </el-collapse-item>
        </el-collapse>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showContractInfo = false">我知道啦</el-button>
        </div>
    </el-dialog>
    <el-dialog title="查看申请内容" :visible.sync="showContract">
        <el-form>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="申请号" :label-width="formLabelWidth">
                        <span>[[ focusContract.activityid ]]</span>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="申请名称" :label-width="formLabelWidth">
                        <span>[[ focusContract.activityname ]]</span>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="申请人" :label-width="formLabelWidth">
                        <span>[[ focusContract.draft ]]</span>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="场地名" :label-width="formLabelWidth">
                        <span>[[ focusContract.activitytype ]]</span>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="开始时间" :label-width="formLabelWidth">
                        <span>[[ focusContract.begintime ]]</span>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="结束时间" :label-width="formLabelWidth">
                        <span>[[ focusContract.endtime ]]</span>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item label="申请内容" :label-width="formLabelWidth">
                <el-input type="textarea" autosize placeholder=" focusContract.content"
                          v-model="focusContract.content" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="附件" :label-width="formLabelWidth">
                        <span v-if="focusContract.file=='true'">
                            <el-button type="text" @click="download(focusContract.activityid)">下载</el-button>
                        </span>
                <span v-else>
                            无
                        </span>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showContract = false">我看完啦</el-button>
        </div>
    </el-dialog>
    <el-header style="text-align: right; font-size: 12px">
        <el-row>
            <el-col :span="8">
                <el-input placeholder="输入申请名搜索" v-model="search" size="mini" clearable></el-input>
            </el-col>
            <el-col :span="16">
                <el-button @click="resetFilter">取消筛选</el-button>
            </el-col>
        </el-row>
    </el-header>
    <el-table ref="filterTable"
              :data="tableData.filter(data => !search || data.activityname.toLowerCase().includes(search.toLowerCase()))"
              style="width: 100%">
        <el-table-column type="expand">
            <div slot-scope="c">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="申请名称">
                        <span>[[ c.row.activityname ]]</span>
                    </el-form-item>
                    <el-form-item label="场地名">
                        <span>[[ c.row.activitytype ]]</span>
                    </el-form-item>
                    <el-form-item label="状态">
                        <span>[[ c.row.state ]]</span>
                    </el-form-item>
                    <el-form-item label="申请内容">
                        <el-button icon="el-icon-search" circle size="small"
                                   @click="showContractOpen(c.row)"></el-button>
                    </el-form-item>
                    <el-form-item label="附件"
                                  v-show="c.row.stateNum!='2'">
                        <span v-if="c.row.file=='true'">
                            <el-button type="text" @click="download(c.row.activityid)">下载</el-button>
                        </span>
                        <span v-else>
                            无
                        </span>
                    </el-form-item>
                    <el-form-item label="会签信息"
                                  v-show="c.row.stateNum=='1'||c.row.stateNum=='2'||c.row.stateNum=='3'||c.row.stateNum=='4'||c.row.stateNum=='5'||c.row.stateNum=='-1'">
                        <el-button icon="el-icon-search" circle size="small"
                                   @click="showContractInfoOpen(c.row,'1')"></el-button>
                    </el-form-item>
                    <el-form-item label="审批信息"
                                  v-show="c.row.stateNum=='3'||c.row.stateNum=='4'||c.row.stateNum=='5'||c.row.stateNum=='-1'">
                        <el-button icon="el-icon-search" circle size="small"
                                   @click="showContractInfoOpen(c.row,'2')"></el-button>
                    </el-form-item>
                    <el-form-item label="签订信息" v-show="c.row.stateNum=='4'||c.row.stateNum=='5'">
                        <el-button icon="el-icon-search" circle size="small"
                                   @click="showContractInfoOpen(c.row,'3')"></el-button>
                    </el-form-item>

                </el-form>
            </div>
        </el-table-column>
        <el-table-column label="活动ID" prop="activityid" sortable align="center"></el-table-column>
        <el-table-column label="活动名称" prop="activityname" align="center"></el-table-column>
        <el-table-column label="活动类型" prop="activitytype" align="center"
                         :formatter="ifendcase"
                         :filters="[{ text: '学术类', value: ['0'] },{ text: '体育类', value: ['1'] }, { text: '科技类', value: ['2'] }, { text: '文化类', value: ['3'] }  ]"
                         :filter-method="filterTag_activitytype"
                         filter-placement="bottom-end">
        </el-table-column>

        <el-table-column label="开始时间" prop="activitytime" sortable align="center"></el-table-column>
        <el-table-column label="活动容量" prop="activitycapacity" sortable align="center"></el-table-column>
        <el-table-column prop="stateNum" label="报名状态" sortable align="center" column-key="stateNum"
                         :filters="[{ text: '会签中', value: ['false'] }, { text: '审批中', value: ['true'] } ]"
                         :filter-method="filterTag_stateNum"
                         filter-placement="bottom-end">
            <div slot-scope="scope">
                <el-tag
                        v-show="scope.row.stateNum=='0' "
                        type="danger"
                        disable-transitions>未支付
                </el-tag>
                <el-tag
                        v-show="scope.row.stateNum!='0' "
                        disable-transitions>已支付
                </el-tag>
            </div>
        </el-table-column>
        <el-table-column>
            <div slot-scope="scope">
                <el-button size="mini" type="primary" style="margin-left: 0px;"
                           @click="deleteRow(scope.row,scope.$index)">取消报名
                </el-button>
                <el-button size="mini" type="primary" style="margin-left: 0px;"
                           @click="payRow(scope.row,scope.$index)">支付
                </el-button>
            </div>
        </el-table-column>
    </el-table>
</el-container>
</body>
<script>
    var vue = new Vue({
        delimiters: ['[[', ']]'],
        el: '#table',
        created: function () {
            // 页面刚被渲染时向后端发送ajax请求数据  解析json后放入vue的变量tableData里
            $.ajax({
                url: "/myActivity",
                type: "POST",
                data: {"type": "init"},
                success: function (data1) {
                    var enrollemnts = data1.enrollments;
                    var activities = data1.activities;
                    for (var i = 0; i < activities.length; i++) {
                        let activity = activities[i];
                        let enrollemnt = enrollemnts[i];
                        vue.tableData.push(
                            {
                                activityid: activity.activityid, //申请号
                                activityname: activity.activityname, //申请名
                                activitytype: activity.activitytype, //场地名
                                activitytime: activity.activitytime, //开始时间
                                activitycapacity: activity.activitycapacity,//活动容量
                                stateNum: enrollemnt.stateNum, //状态编号

                                //stateNum: activity.stateNum, //状态编号
                                state: activity.state,//状态
                                draft: activity.draft,//申请人
                                content: activity.content, //申请内容
                                file: activity.file //文件是否存在
                            }
                        );
                    }


                }
            })
        },
        data() {
            return {
                showContractInfo: false,
                activeName: '1',
                contractInfo: [],
                tableData: [],
                formLabelWidth: '100px',
                showContract: false,
                focusContract: '',
                search: '',
                fd: '',
            };
        },
        methods: {
            ifendcase(val){
                if(val.activitytype == '0')
                {return "学术类"}
                else if (val.activitytype == '1')
                {return "体育类"}
                else if (val.activitytype == '2')
                {return "科技类"}
                else if (val.activitytype == '3')
                {return "文化类"}
                else
                {return val.activitytype}
            },
            ifendcases(val){
                if(val.stateNum == '0')
                {return "未支付"}
                else
                {return "已支付"}
            },
            resetFilter() {
                this.$refs.filterTable.clearFilter('stateNum');
            },
            filterTag_stateNum(values, row) {
                for (var i = 0; i < values.length; i++) {
                    let value = values[i];
                    if (row.stateNum === value)
                        return true;
                }
                return false;
            },
            filterTag_activitytype(values, row) {
                for (var i = 0; i < values.length; i++) {
                    let value = values[i];
                    if (row.activitytype === value)
                        return true;
                }
                return false;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            download(activityid) {
                var form = $("<form>");//定义一个form表单
                form.attr("style", "display:none");
                form.attr("target", "");
                form.attr("method", "post"); //请求类型
                form.attr("action", "/downloadFile"); //请求地址
                var sql = $("<input>");
                sql.attr("type", "hidden");
                sql.attr("name", "activityid");
                sql.attr("value", activityid);
                form.append(sql);
                $(document.body).append(form)
                form.submit()
            },
            deleteRow(tempRow,order) {
                vue.$confirm('此操作将永久删除该申请, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    vue.fd = new FormData();
                    vue.fd.append("type", "delete");
                    vue.fd.append("activityid", tempRow.activityid);
                    $.ajax({
                        url: "/myActivity",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: vue.fd,
                        success: function () {
                            vue.$message.success('删除成功！');
                            vue.tableData.splice(order, 1);
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            payRow(tempRow,order) {
                vue.$confirm('是否决定支付, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    vue.fd = new FormData();
                    vue.fd.append("type", "pay");
                    vue.fd.append("activityid", tempRow.activityid);
                    $.ajax({
                        url: "/myActivity",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: vue.fd,
                        success: function () {
                            vue.$message.success('支付成功！');
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消支付'
                    });
                });
            },
            showContractInfoOpen(row, activeName) {
                this.activeName = activeName;
                this.showContractInfo = true;
                $.ajax({
                    url: "/allContract",
                    type: "POST",
                    data: {"type": "info", "activityid": row.activityid},
                    success: function (data1) {
                        var cInfo = data1.cInfo;
                        vue.contractInfo =
                            {
                                activityid: cInfo.activityid,
                                countersign: [
                                    {
                                        countersignPerson: cInfo.countersign1,
                                        opinion: cInfo.copinion1,
                                        ctime: cInfo.ctime1,
                                    }, {
                                        countersignPerson: cInfo.countersign2,
                                        opinion: cInfo.copinion2,
                                        ctime: cInfo.ctime2,
                                    }, {
                                        countersignPerson: cInfo.countersign3,
                                        opinion: cInfo.copinion3,
                                        ctime: cInfo.ctime3,
                                    }
                                ],
                                approval: [{
                                    approvalPerson: cInfo.approval1,
                                    astate: cInfo.astate1,
                                    opinion: cInfo.aopinion1,
                                    atime: cInfo.atime1,
                                }, {
                                    approvalPerson: cInfo.approval2,
                                    astate: cInfo.astate2,
                                    opinion: cInfo.aopinion2,
                                    atime: cInfo.atime2,
                                }, {
                                    approvalPerson: cInfo.approval3,
                                    astate: cInfo.astate3,
                                    opinion: cInfo.aopinion3,
                                    atime: cInfo.atime3,
                                }],
                                sign: [{
                                    signPerson: cInfo.sign,
                                    sinformation: cInfo.sinformation,
                                    stime: cInfo.stime,
                                }],
                            }
                    }
                })
            },
            showContractOpen(row) {
                this.focusContract = row;
                this.showContract = true;
            }
        }
    })
</script>
</html>