{% load static %}
<!doctype html>
<html style="overflow-x: hidden; overflow-y: auto;">

<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="{% static 'style/my.css' %}">

    <link rel="stylesheet" href="{% static 'style/others.css' %}">
    <link rel="stylesheet" href="{% static 'style/mdui.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/bulma.min.css' %}">

    <script defer src="{% static 'javascript/all.js' %}"></script>
    <script src="{% static 'javascript/vue.js' %}"></script>
    <script src="{% static 'javascript/index.js' %}"></script>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/mdui.min.js' %}"></script>
</head>
<body>
<el-container id="table">
    <el-header style="text-align: right; font-size: 12px">
        <el-row>
            <el-col :span="8">
                <el-input placeholder="输入用户名搜索" v-model="search" size="mini" clearable></el-input>
            </el-col>
        </el-row>
    </el-header>
    <el-table ref="tableChange"
              :data="tableData.filter(data => !search || data.username.toLowerCase().includes(search.toLowerCase()))"
              style="width: 100%">
        <el-table-column prop="username" label="用户名" sortable align="center"></el-table-column>
        <el-table-column prop="email" label="邮箱" align="center" align="center"></el-table-column>
        <el-table-column prop="role" label="角色" align="center" align="center">
            <div slot-scope="scope">
                <el-select filterable v-model="scope.row.role">
                    {% for role in roles %}
                        <el-option label="{{ role }}" value={{ role }}></el-option>
                    {% endfor %}
                </el-select>
            </div>
        </el-table-column>
        <el-table-column align="center">
            <div slot-scope="scope">
                <el-button size="mini" @click="saveRow(scope.row)">保存</el-button>
                <el-button size="mini" type="danger" @click="deleteRow(scope.row,scope.$index)">删除</el-button>
            </div>
        </el-table-column>

    </el-table>
</el-container>
</body>

<script>
    var vue = new Vue({
        delimiters: ['[[', ']]'],
        el: '#table',
        created: function () {
            // 页面刚被渲染时向后端发送ajax请求数据  解析json后放入vue的变量tableData里
            $.ajax({
                url: "/user",
                type: "POST",
                data: {"type": "init"},
                success: function (data1) {
                    var users = data1.users;
                    for (var i = 0; i < users.length; i++) {
                        var user = users[i];
                        vue.tableData.push(
                            {
                                username: user.username, //用户名
                                email: user.email,
                                role: user.role
                            }
                        );
                    }

                }
            })
        },
        data() {
            return {
                tableData: [],
                delData: [{
                    username: '', //用户名
                    email: '',
                    role: '',
                }],
                search: '',
                fd: '',
                showAdduser: false,
            };
        },
        methods: {
            saveRow(tempRow) {
                vue.fd = new FormData();
                vue.fd.append("type", "save")
                vue.fd.append("username", tempRow.username);
                vue.fd.append("role", tempRow.role);
                $.ajax({
                    url: "/user",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: vue.fd,
                    success: function (data1) {
                        vue.$message.success("更改角色成功!");
                    }
                })
            },
            deleteRow(tempRow,order) {
                vue.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    vue.fd = new FormData();
                    vue.fd.append("type", "delete");
                    vue.fd.append("username", tempRow.username);
                    $.ajax({
                        url: "/user",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: vue.fd
                        ,
                        success: function () {
                            vue.$message({
                                message: '删除成功!',
                                type: 'success'
                            });
                            vue.tableData.splice(order, 1);
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },
        }
    })
</script>
</html>